/* Resetando padding e margin */
* {
    padding: 0px;
    margin: 0px;
}

/* Variáveis de cor */
:root {
    --white: #f9f9f9;
    --black: #36383F;
    --gray: #85888C;
}

/* Resetando os padrões do HTML */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo do corpo */
body {
    background-color: var(--white);
    font-family: "Poppins", sans-serif;
}

/* Estilo dos links */
a {
    text-decoration: none;
}

/* Estilo das listas */
ul {
    list-style: none;
}

/* Estilo do logo */
.logo {
    display: inline-block;
    color: var(--white);
    font-size: 40px;
    margin-left: 10px;
}

/* Estilo do menu de navegação */
.nav {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: var(--black);
    overflow: hidden;
    max-height: 0;
    transition: max-height .5s ease-out;
}

/* Estilo dos links dentro do menu */
.menu a {
    display: block;
    padding: 30px;
    color: var(--white);
}

/* Estilo do ícone do menu hamburguer */
.hamb {
    cursor: pointer;
    float: right;
    padding: 40px 20px;
}

/* Estilo das linhas do ícone do menu hamburguer */
.hamb-line {
    background: var(--white);
    display: block;
    height: 2px;
    position: relative;
    width: 24px;
    top: -70px;
}

.hamb-line::before,
.hamb-line::after {
    background: var(--white);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

.hamb-line::before {
    top: 5px;
}

.hamb-line::after {
    top: -5px;
}

/* Escondendo o input checkbox do menu */
.side-menu {
    display: none;
}

/* Alternar visibilidade do menu quando o checkbox está marcado */
.side-menu:checked ~ nav {
    max-height: 100%;
}

.side-menu:checked ~ .hamb .hamb-line {
    background: transparent;
}

.side-menu:checked ~ .hamb .hamb-line::before {
    transform: rotate(-45deg);
    top: 0;
}

.side-menu:checked ~ .hamb .hamb-line::after {
    transform: rotate(45deg);
    top: 0;
}

/* Evitar scroll quando o menu está aberto */
body:has(.side-menu:checked) {
    overflow: hidden;
}

/* Estilo do logo */
#logo {
    text-align: center;
    font-size: 25px;
    font-weight: 900;
    color: white;
}

/* Estilo da seção do blog */
#blog {
    padding-left: 120px;
    padding-top: 20px;
    font-size: 20px;
    color: white;
}

/* Estilo do cabeçalho */
header {
    background-color: #4b779d;
    height: 80px;
}

/* Estilo do corpo da página */
body {
    background-color: #d9d9d9;
}

/* Estilo da seção de autores */
#autores {
    margin-top: 50px;
    font-size: 35px;
    text-align: center;
}

/* Estilo da linha horizontal */
hr {
    margin-left: 30px;
    margin-right: 30px;
    background-color: #a6a6a6;
}

/* Estilo do nome */
.nome {
    color: #f29e38;
    font-size: 25px;
    padding-left: 20px;
}

/* Estilo das imagens */
.imagens {
    text-align: center;
    margin-top: -60px;
}

/* Estilo do texto */
.texto {
    padding-left: 20px;
    padding-right: 20px;
    text-align: justify;
    line-height: 23px;
}

/* Estilo do botão de voltar ao topo */
#botao_voltar_pcima {
    width: 65px;
    height: 65px;
    background-color: #a6a6a6;
    border-radius: 50%;
    position: fixed;
    z-index: 999;
    bottom: 10px;
    right: 10px;
}

#botao_voltar_pcima a {
    width: 100%;
    height: 100%;
}

#botao_voltar_pcima img {
    width: 100%;
    float: left;
    padding-right: -20px;
}

/* Estilo do rodapé */
#footer {
    text-align: center;
    padding-top: 20px;
}

footer {
    background-color: #2e8b57;
    color: white;
    text-align: center;
}


#links_rodape {
    color:  #1c6d41;
    font-size: 15px;
    font-weight: bold;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
}

#links_rodape a {
    color: white;
    flex-wrap: column;
    margin: 10px 0;
}

footer {
    height: 320px;
}

/* Estilos para dispositivos com largura entre 768px e 991.98px */
@media (min-width: 768px) and (max-width: 991.98px) {

    /* Estilo do blog em telas médias */
    #blog {
        padding-left: 300px;
        padding-top: 20px;
        font-size: 20px;
        color: white;
    }

    /* Estilo do logo em telas médias */
    #logo {
        font-size: 25px;
        font-weight: 900;
        color: white;
        text-align: center;
    }

    /* Estilo do cabeçalho em telas médias */
    header {
        height: 160px;
    }

    /* Estilo do menu em telas médias */
    .nav {
        max-height: none;
        top: 0;
        position: relative;
        float: right;
        width: fit-content;
        background-color: transparent;
    }

    /* Estilo dos itens do menu em telas médias */
    .menu li {
        float: left;
    }

    /* Estilo dos links do menu em telas médias */
    .menu a:hover {
        background-color: transparent;
        color: var(--gray);
    }

    /* Esconder o ícone do menu hamburguer em telas médias */
    .hamb {
        display: none;
    }

     /* Estiliza a seção de links */
     .links {
        display: flex;
        justify-content: center;
        padding-top: 15px;
        padding-right: 10px;
        margin: 5px;
    }

    /* Estilo do botão de voltar ao topo em telas médias */
    #botao_voltar_pcima {
        width: 80px;
        height: 80px;
        background-color: #a6a6a6;
        border-radius: 50%;
        position: fixed;
        z-index: 999;
        bottom: 10px;
        right: 10px;
    }
    
    #botao_voltar_pcima a {
        width: 100%;
        height: 100%;
    }
    
    #botao_voltar_pcima img {
        width: 100%;
        float: left;
        padding-right: -20px;
    }

    #links_rodape {
        color:  #1c6d41;
        font-size: 15px;
        font-weight: bold;
        padding-top: 50px;
        display: flex;
        flex-direction: column;
    }
    
    #links_rodape a {
        color: white;
        flex-wrap: column;
        margin: 10px 0;
    }
    
    footer {
        height: 320px;
    }
}

/* Estilos para dispositivos com largura mínima de 992px */
@media (min-width: 992px) {

    /* Estilo do corpo em telas grandes */
    body {
        background-color: #d9d9d9;
    }

    /* Estilo do main em telas grandes */
    main {
        font-size: 12px;
        width: 1000px;
        background-color: #ccc;
        margin: 0 auto;
        margin-top: -50px;
        padding-bottom: 50px;
    }

    /* Estilo do rodapé em telas grandes */
    footer {
        margin-top: -40px;
    }

    /* Estilo do título em telas grandes */
    .titulo {
        font-size: 15px;
    }

    /* Estilo do blog em telas grandes */
    #blog {
        padding-left: 600px;
        padding-top: 20px;
        font-size: 20px;
        color: white;
    }

    /* Estilo do logo em telas grandes */
    #logo {
        font-size: 25px;
        font-weight: 900;
        color: white;
        text-align: center;
    }

    /* Estilo do cabeçalho em telas grandes */
    header {
        height: 160px;
    }

    /* Estilo do menu em telas grandes */
    .nav {
        max-height: none;
        top: 0;
        position: relative;
        float: right;
        width: fit-content;
        background-color: transparent;
    }

    /* Estilo dos itens do menu em telas grandes */
    .menu li {
        float: left;
    }

    /* Estilo dos links do menu em telas grandes */
    .menu a:hover {
        background-color: transparent;
        color: var(--gray);
    }

    /* Esconder o ícone do menu hamburguer em telas grandes */
    .hamb {
        display: none;
    }

    /* Estilo dos links em telas grandes */
    .links {
        padding-top: 15px;
        float: right;
        padding-right: 120px;
    }

    /* Estilo do hover dos links em telas grandes */
    .links:hover {
        background-color: #a6a6a6;
        padding: 10px;
        padding-right: 100px;
        transition: 0.8s;
        border-radius: 10px;
    }

     /* Estiliza o botão de voltar ao topo para telas grandes */
     #botao_voltar_pcima {
        width: 50px;
        height: 50px;
        background-color: #a6a6a6;
        border-radius: 50%;
        position: fixed;
        z-index: 999;
        bottom: 10px;
        right: 10px;
    }

    #botao_voltar_pcima img {
        width: 100%;
        float: left;
        padding-right: -20px;
        margin-top: -1px;
    }
}


@media (min-width: 1400px) {

    /* Main */
    main {
        font-size: 12px;
        width: 1200px;
        background-color: #ccc;
        margin: -50px auto;
        margin-bottom: 0;
    }

     /* Estilo do corpo da página em telas grandes */
     body {
        background-color: #d9d9d9;
    }

    header {
        height: 190px;
    }

    #blog {
        padding-left: 1000px;
    } 

    .nav {
        color: white;
        max-height: none; /* Exibe o menu */
        top: 0;
        position: relative;
        width: 100%; /* Garante que a .nav ocupe toda a largura disponível */
        background-color: transparent;
        margin: 0 auto; /* Centraliza horizontalmente se houver um tamanho fixo */
        display: flex; /* Utiliza Flexbox para layout */
        justify-content: center; /* Centraliza o conteúdo da .nav */
    }
    
    .menu {
        list-style-type: none; /* Remove os marcadores dos itens da lista */
        padding: 0;
        margin: 0;
        display: flex; /* Utiliza Flexbox para alinhar os itens do menu horizontalmente */
    }
    
    .menu li {
        margin-left: 15px; /* Adiciona espaçamento entre os itens do menu */
    }
    
    .menu a {
        text-decoration: none; /* Remove o sublinhado dos links */
        color: inherit; /* Usa a cor do texto do item de menu */
    }
    
    .menu a:hover {
        background-color: transparent;
        color: var(--gray);
    }
    
    .hamb {
        display: none; /* Esconde o ícone do menu hambúrguer */
    }
    
    .links {
        padding-top: 15px;
        display: flex;
        justify-content: center; /* Centraliza os links dentro da seção */
        width: 100%; /* Garante que a .links ocupe toda a largura disponível */
    }
    
    /* Estiliza o efeito de hover nos links da seção de links */
    .links:hover {
        background-color: #a6a6a6;
        padding: 10px;
        padding-right: 100px;
        transition: 0.8s;
        border-radius: 10px;
    }

    #links_rodape {
        color:  #1c6d41;
        font-size: 20px;
        font-weight: bold;
        padding-top: 50px;
    }

    footer {
        margin-top: -100px;
        height: 350px;
    }
}